node_modules
/.idea/
/client/build/
/client_material/build/

# yarn
.yarn/*
!.yarn/releases
/client_material/.yarn/*
!/client_material/.yarn/releases
/client_material/.yarnrc.yml
/client_material/.yarn/build-state.yml
/client_material/.yarn/install-state.gz
.yarnrc.yml
.yarn/build-state.yml
.yarn/install-state.gz
